
.gmap {
    width: 100%;
    height: 700px;
}
body
{
    margin:0px;
}
#map-canvas {
	margin: 0;
	padding: 0;
	height: 400px;
	width: 400px;
	max-width: none;
}
#map-canvas img {
	max-width: none !important;
}
.gm-style-iw {
	top: 0px !important;
    left: 0px !important;
    display: block !important;
}
.gm-style-iw > div  {
    display: block !important;
    min-width: 350px;
}
.gm-style-iw .col-md-12 {
    padding: 0px;
}
#iw-container {
	margin-bottom: 0px;
}
.gm-ui-hover-effect {
    display: none !important;
}