<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title><%= title %></title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      /* The location pointed to by the popup tip. */
      .popup-tip-anchor {
        height: 0;
        position: absolute;
        /* The max width of the info window. */
        width: 200px;
      }
      /* The bubble is anchored above the tip. */
      .popup-bubble-anchor {
        position: absolute;
        width: 100%;
        bottom: /* TIP_HEIGHT= */ 8px;
        left: 0;
      }
      /* Draw the tip. */
      .popup-bubble-anchor::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        /* Center the tip horizontally. */
        transform: translate(-50%, 0);
        /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
        width: 0;
        height: 0;
        /* The tip is 8px high, and 12px wide. */
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: /* TIP_HEIGHT= */ 8px solid white;
      }
      /* The popup bubble itself. */
      .popup-bubble-content {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -100%);
        /* Style the info window. */
        background-color: white;
        padding: 5px;
        border-radius: 5px;
        font-family: sans-serif;
        overflow-y: auto;
        max-height: 60px;
        box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
      }
    </style>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- global css -->
    <!-- bootstrap 3.2.0 -->
    <link href="/css/app.css" rel="stylesheet" type="text/css" />
    <!-- end of global css -->
    <!--page level css -->
    <link rel="stylesheet" type="text/css" href="css/examples.css" />
    <link rel="stylesheet" type="text/css" href="css/tables.css" />
    <link rel="stylesheet" href="css/googlemaps_custom.css" />
    <!--end of page level css-->
    <!-- global js -->
    <script src="js/app.js" type="text/javascript"></script>
    <!-- end of global js -->
  </head>
  <body class="skin-josh">
      <header class="header">
          <a href="/" class="logo">
              <!-- Add the class icon to your logo image or logo icon to add the margining -->
              <img src="/img/icon.png" alt="logo">
          </a>
          <nav class="navbar navbar-static-top" role="navigation">
              <!-- Sidebar toggle button-->
              <div>
                  <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                      <div class="responsive_nav"></div>
                  </a>
              </div>
              <div class="navbar-right">
                  <ul class="nav navbar-nav">
                      <li class="dropdown notifications-menu">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <i class="livicon" data-name="bell" data-loop="true" data-color="#e9573f" data-hovercolor="#e9573f" data-size="28"></i>
                              <span id="warnings_count_1" class="label label-warning">0</span>
                          </a>
                          <ul class=" notifications dropdown-menu">
                              <li class="dropdown-title">You have <span id="warnings_count_2">0</span> warnings</li>
                              <li>
                                  <!-- inner menu: contains the actual data -->
                                  <ul class="menu" id="warnings">
                                    <!--
                                      <li>
                                          <i class="livicon <warning or danger>" data-n="dashboard" data-s="20" data-c="white" data-hc="white"></i>
                                          <a href="/sensor_data/id">Something is </a>
                                      </li>
                                    -->
                                  </ul>
                              </li>
                              <li class="footer">
                              </li>
                          </ul>
                      </li>
                      <li class="dropdown user user-menu">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <div>
                                      <i class="livicon" data-name="user" data-s="25"></i>
                                      <span>
                                          <i class="caret"></i>
                                      </span>
                                  </div>
                          </a>
                          <ul class="dropdown-menu">
                              <!-- Menu Body -->
                              <li>
                                  <a href="/view_user"> <i class="livicon" data-name="user" data-s="18"></i> My Profile </a>
                              </li>
                              <li role="presentation"></li>
                              <li>
                                  <a href="/adduser"> <i class="livicon" data-name="gears" data-s="18"></i> Account Settings </a>
                              </li>
                              <!-- Menu Footer-->
                              <li class="user-footer">
                                  <div class="pull-right">
                                      <a href="/logout"> <i class="livicon" data-name="sign-out" data-s="18"></i> Logout </a>
                                  </div>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </nav>
      </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <aside class="left-side sidebar-offcanvas">
            <section class="sidebar ">
                <div class="page-sidebar  sidebar-nav">
                    <!-- BEGIN SIDEBAR MENU -->
                    <ul class="page-sidebar-menu" id="menu">
                        <li>
                            <a href="/">
                                <i class="livicon" data-name="map" data-c="#5bc0de" data-hc="#5bc0de" data-size="18" data-loop="true"></i>
                                Maps
                            </a>
                        </li>
                        <% for(var i=0; i<JSON.parse(graphqldata).length; i++) {%>
                            <li>
                                <a href="/sensor_data/<%= JSON.parse(graphqldata)[i].orgitemid%>">
                                    <i class="livicon" data-name="barchart" data-size="18" data-c="#00bc8c" data-hc="#00bc8c" data-loop="true"></i>

                                    <span class="title"><%= JSON.parse(graphqldata)[i].name%>
                                    </span>
                                </a>
                            </li>
                         <% } %>
                    </ul>
                    <!-- END SIDEBAR MENU -->
                </div>
            </section>
            <!-- /.sidebar -->
        </aside>
      <aside class="right-side">
        <section class="content">
          <div class="row">
            <div class="col-lg-12">
              <div id="map"></div>
            </div>
          </div>
          <div id="content"></div>
        </section>
      </aside>
    </div>
    <script>
var map, popup, Popup;

var data = JSON.parse('<%- graphqldata %>'.replace("\r", "").replace("\n", ""));

/** Initializes the map and the custom popup. */
function initMap() {
  
  var centerCoord = new google.maps.LatLng(42.37,23.5);
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 10, center: centerCoord});


  for (var i = 0; i < data.length; i++) {
    var properties = data[i].properties;
    var lng = sensor_data = data[i].properties.find(x => x.type == "Longitude");
    var lat = sensor_data = data[i].properties.find(x => x.type == "Latitude");
    if (lat && lng && lat.value > 40 && lng.value > 20) {
      var latLng = new google.maps.LatLng(lat.value,lng.value);
      var marker = new google.maps.Marker({
        position: latLng,
        map: map
      });

      for (var tag_i = 0; tag_i < data[i].tags.length; tag_i++) {
        $.ajax({
            url: '/sensor_data/tag_last/' + data[i].tags[tag_i].tagid + '/' + i + '/' + tag_i + '/' + data[i].tags[tag_i].tagdescription,
            type: 'GET',
            success: function (res) {
              console.log(res);
              data[res.i].tags[res.tag_i].value = res.value;
              // if the color code of the sensor is orange or red, add it to the warnings list.
              if(res.color_code > 0) {
                  var message = data[res.i].name + "'s " + data[res.i].tags[res.tag_i].tagdescription + " has a value of " + res.value + ".";
                  var class_name = "warning"; // orange
                  if(res.color_code == 2)
                    class_name = "danger" // red
                  
                  var new_warning = document.createElement('li');
                  new_warning.innerHTML = '<i class="livicon ' + class_name + '" data-n="dashboard" data-s="20" data-c="white" style="width: 20px; height: 20px;" data-hc="white">\
                        <svg height="20" version="1.1" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="canvas-for-livicon-11" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="#ffffff" stroke="none" d="M16,6C8.269,6,2,12.264,2,19.992C2,22.142,2.485,24.181,3.354,26H28.648C29.516,24.182,30,22.143,30,19.992C30,12.264,23.732,6,16,6ZM27.826,22H20.584C19.814,23.771,18.055,25,16,25S12.186,23.771,11.416,22H4.172C4.059,21.361,4,20.686,4,19.992C4,13.37,9.374,7.999,16,7.999C22.628999999999998,7.999,27.997999999999998,13.370000000000001,27.997999999999998,19.992C27.998,20.684,27.939,21.355,27.826,22Z" stroke-width="0" transform="matrix(0.625,0,0,0.625,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="#ffffff" stroke="none" d="M9,20C9,18.921,9.244,17.899,9.68,16.987000000000002C10.806,14.629,13.213,13,16,13C19.866,13,23,16.134,23,20H26C26,14.478,21.522,10,16,10C12.265,10,9.008,12.048,7.291,15.083C6.469,16.535,6,18.213,6,20H9Z" opacity="0.1" stroke-width="0" transform="matrix(0.625,0,0,0.625,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0.1;"></path><path fill="#ffffff" stroke="none" d="M7.165,15.313C6.804,16.006,6.53,16.672,6.338,17.362000000000002C6.111,18.18,6,19.031,6,20H9C9,19.463,9.053,18.956,9.16,18.47C9.268,17.98,9.431000000000001,17.511,9.649000000000001,17.052999999999997L7.165,15.313ZM17.404,18.576C18.196,19.355,18.189,20.632,17.414,21.414C16.635,22.203000000000003,15.376000000000001,22.197000000000003,14.595000000000002,21.424000000000003C14.325000000000003,21.160000000000004,13.564000000000002,18.970000000000002,13.172000000000002,18.586000000000002L8.594,14C8.199,13.611,8.341,12.834,8.591,12.583C8.84,12.333,9.607999999999999,12.189,10.001,12.578L14.587,17.172C14.979,17.561,17.143,18.314,17.404,18.576Z" stroke-width="0" transform="matrix(0.625,0,0,0.625,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>\                        </i>\
                                          <a href="/sensor_data/' + data[res.i].orgitemid + '">' + message + '</a>';
                  document.getElementById("warnings").appendChild(new_warning);
                  document.getElementById("warnings_count_1").innerText = document.getElementById("warnings").children.length;
                  document.getElementById("warnings_count_2").innerText = document.getElementById("warnings").children.length;
              }
            }
        });
      }

      var rows = ""
      if (data[i].properties)
        data[i].properties.forEach(element => {
          rows += "<tr>"
          rows += "<td class=\"highlight\">" + element.type + "</td>"
          rows += "<td>" + element.value + "</td>"
          rows += "<td></td>"
          rows += "</tr>"
        });
      
      var contentString = `
      <div class="col-md-12">
                  <!-- BEGIN SAMPLE TABLE PORTLET-->
                  <div class="portlet box">
                      <div class="portlet-title danger">
                          <div class="caption">
                            <i class="livicon" data-name="screenshot" data-size="16" data-loop="true" data-c="#fff" data-hc="white" id="livicon-54" style="width: 16px; height: 16px;"></i>
                            ` + data[i].name + `
                          </div>
                      </div>
                      <div class="portlet-body">
                          <div class="table-scrollable">
                              <table class="table table-striped table-bordered table-advance table-hover">
                                  <thead>
                                      <tr>
                                          <th>
                                              Sensor
                                          </th>
                                          <th>
                                              Value
                                          </th>
                                          <th>
                                              Status
                                          </th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    <!-- tag data goes here -->
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                                    `

      marker.id = data[i].orgitemid;
      marker.i = i;
      
      var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
      
      google.maps.event.addListener(marker,'mouseover', (function(marker,content,infowindow){ 
          return function() {
            // infowindow.setContent(marker.content);
            infowindow.open(map,marker);
            console.log(marker);
            console.log(content);
            var tag_rows = "";
            data[marker.i].tags.forEach(element => {

              tag_rows += "<tr>" +
               "<td class=\"highlight\">" + element.tagdescription + "</td>" +
               "<td>" + element.value + "</td>" +
               "<td></td>" +
               "</tr>"
            });
            infowindow.setContent(infowindow.content.replace("<!-- tag data goes here -->", tag_rows))
            
            console.log(infowindow);
          };
      })(marker,content,infowindow));  
      
      google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
          return function() {
            var newURL =  "http://localhost:3000/sensor_data/" + marker.id;
            console.log(newURL);
            window.location.href = newURL
          };
      })(marker,content,infowindow));  

      google.maps.event.addListener(marker,'mouseout', (function(marker,content,infowindow){ 
          return function() {
            // infowindow.setContent(marker.content);
            infowindow.close(map, marker);
          };
      })(marker,content,infowindow));  
    }
  }

}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBa2imCBTDpgNb7UookSWhAuUsVcRH0bKw&callback=initMap">
    </script>
  </body>
</html>