<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/css/style.css' />
    <!-- RadoChart imports start -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
      zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
      ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <style>
      html,
      body {
        height: 100%;
        width: 100%;
        margin-left: 10;
        padding: 0;
      }
      
      #myChart {
        height: 100%;
        width: 100%;
        min-height: 150px;
      }
      
      .zc-ref {
        display: none;
      }
    </style>
    <!-- RadoChart imports end -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/Chart.bundle.min.js"></script>

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- global css -->
    <!-- bootstrap 3.2.0 -->
    <link href="/css/app.css" rel="stylesheet" type="text/css" />
    <!-- end of global css -->
    <!-- global js -->
    <script src="/js/app.js"></script>
    <!-- end of global js -->
    <!--page level css -->
    <link rel="stylesheet" href="/css/jscharts.css" />
    <!--end of page level css-->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body class="skin-josh">
        <header class="header">
            <a href="/" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                <img src="/img/icon.png" alt="logo">
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <div>
                    <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                        <div class="responsive_nav"></div>
                    </a>
                </div>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                            <li class="dropdown notifications-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="livicon" data-name="bell" data-loop="true" data-color="#e9573f" data-hovercolor="#e9573f" data-size="28"></i>
                                    <span id="warnings_count_1" class="label label-warning">0</span>
                                </a>
                                <ul class=" notifications dropdown-menu">
                                    <li class="dropdown-title">You have <span id="warnings_count_2">0</span> warnings</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu" id="warnings">
                                          <!--
                                            <li>
                                                <i class="livicon <warning or danger>" data-n="dashboard" data-s="20" data-c="white" data-hc="white"></i>
                                                <a href="/sensor_data/id">Something is </a>
                                            </li>
                                          -->
                                        </ul>
                                    </li>
                                    <li class="footer">
                                    </li>
                                </ul>
                            </li>
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <div>
                                        <i class="livicon" data-name="user" data-s="25"></i>
                                        <span>
                                            <i class="caret"></i>
                                        </span>
                                    </div>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- Menu Body -->
                                <li>
                                    <a href="/view_user"> <i class="livicon" data-name="user" data-s="18"></i> My Profile </a>
                                </li>
                                <li role="presentation"></li>
                                <li>
                                    <a href="/adduser"> <i class="livicon" data-name="gears" data-s="18"></i> Account Settings </a>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="/logout"> <i class="livicon" data-name="sign-out" data-s="18"></i> Logout </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <aside class="left-side sidebar-offcanvas">
            <section class="sidebar ">
                <div class="page-sidebar  sidebar-nav">
                    <!-- BEGIN SIDEBAR MENU -->
                    <ul class="page-sidebar-menu" id="menu">
                        <li>
                            <a href="/">
                                <i class="livicon" data-name="map" data-c="#5bc0de" data-hc="#5bc0de" data-size="18" data-loop="true"></i>
                                Maps
                            </a>
                        </li>
                        <% for(var i=0; i<JSON.parse(graphqldata).length; i++) {%>
                            <li>
                                <a href="/sensor_data/<%= JSON.parse(graphqldata)[i].orgitemid%>">
                                    <i class="livicon" data-name="barchart" data-size="18" data-c="#00bc8c" data-hc="#00bc8c" data-loop="true"></i>

                                    <span class="title"><%= JSON.parse(graphqldata)[i].name%>
                                    </span>
                                </a>
                            </li>
                         <% } %>
                    </ul>
                    <!-- END SIDEBAR MENU -->
                </div>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!--right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1><%= sensor_data.name%></h1>
        </section>
        <script src="/js/jquery.knob.js" type="text/javascript"></script>
        
        <!-- Main content -->
        <section class="content">
                <!-- row -->
        <div class="panel panel-info margin-15">
                <div id="color_code_knobs" class="panel-body knob-container">
                    <!--
                        <div class="col-md-3 col-sm-3 col-xs-5 knob-div">
                            <div class="knob-title">Angle offset arc</div>
                            <input class="knob" data-angleoffset="-125" data-anglearc="250" data-fgcolor="#EF6F6C" data-width="80%" readonly value="35">
                        </div>
                    -->
                </div>
            </div>
                <div id="myChart">
                </div>
            </section>
        </aside>
    </div>
  <script>

    function getTagData(i) {
        
        $.ajax({
            url: '/sensor_data/tag/' + tagids[i],
            type: 'GET',
            success: function (sensor_data) {
                // console.log('form submitted.' + JSON.stringify(sensor_data));
                drawChart (sensor_data, i);
            }
        });
    }

    tagids = <%- JSON.stringify(tagids) %>;
    // tagids = [218, 269, 212];
    for (let i = 0; i < tagids.length; i++) {
        getTagData(i);
    }


    function drawChart(sensor_data, i) {
        step = sensor_data[1][0] - sensor_data[1][1];
        step = step / 1000;

        // Check if color codes are available
        if (sensor_data[0].length > 2) {
            var value = sensor_data[2][sensor_data[2].length - 1];
            var color_thresholds = sensor_data[0][2];
            var title = sensor_data[0][1];
            var max_value = color_thresholds[2]

            var color;
            if (value > color_thresholds[1])
                color = "#F44336";
            else if (value > color_thresholds[0])
                color = "#FF9800";
            else color = "#4CAF50";
            
              // if the color code of the sensor is orange or red, add it to the warnings list.
            if(value > color_thresholds[0]) {
                var message = title + " has a value of " + value + ".";
                var class_name = "warning"; // orange
                if(value > color_thresholds[1])
                    class_name = "danger" // red
                  
                var new_warning = document.createElement('li');
                new_warning.innerHTML = '<i class="livicon ' + class_name + '" data-n="dashboard" data-s="20" data-c="white" style="width: 20px; height: 20px;" data-hc="white">\
                                            <svg height="20" version="1.1" width="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="canvas-for-livicon-11" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><path fill="#ffffff" stroke="none" d="M16,6C8.269,6,2,12.264,2,19.992C2,22.142,2.485,24.181,3.354,26H28.648C29.516,24.182,30,22.143,30,19.992C30,12.264,23.732,6,16,6ZM27.826,22H20.584C19.814,23.771,18.055,25,16,25S12.186,23.771,11.416,22H4.172C4.059,21.361,4,20.686,4,19.992C4,13.37,9.374,7.999,16,7.999C22.628999999999998,7.999,27.997999999999998,13.370000000000001,27.997999999999998,19.992C27.998,20.684,27.939,21.355,27.826,22Z" stroke-width="0" transform="matrix(0.625,0,0,0.625,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><path fill="#ffffff" stroke="none" d="M9,20C9,18.921,9.244,17.899,9.68,16.987000000000002C10.806,14.629,13.213,13,16,13C19.866,13,23,16.134,23,20H26C26,14.478,21.522,10,16,10C12.265,10,9.008,12.048,7.291,15.083C6.469,16.535,6,18.213,6,20H9Z" opacity="0.1" stroke-width="0" transform="matrix(0.625,0,0,0.625,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0.1;"></path><path fill="#ffffff" stroke="none" d="M7.165,15.313C6.804,16.006,6.53,16.672,6.338,17.362000000000002C6.111,18.18,6,19.031,6,20H9C9,19.463,9.053,18.956,9.16,18.47C9.268,17.98,9.431000000000001,17.511,9.649000000000001,17.052999999999997L7.165,15.313ZM17.404,18.576C18.196,19.355,18.189,20.632,17.414,21.414C16.635,22.203000000000003,15.376000000000001,22.197000000000003,14.595000000000002,21.424000000000003C14.325000000000003,21.160000000000004,13.564000000000002,18.970000000000002,13.172000000000002,18.586000000000002L8.594,14C8.199,13.611,8.341,12.834,8.591,12.583C8.84,12.333,9.607999999999999,12.189,10.001,12.578L14.587,17.172C14.979,17.561,17.143,18.314,17.404,18.576Z" stroke-width="0" transform="matrix(0.625,0,0,0.625,0,0)" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>\                        </i>\
                                        <a href="/sensor_data/' + <%= sensor_data.orgitemid%> + '">' + message + '</a>';
                document.getElementById("warnings").appendChild(new_warning);
                document.getElementById("warnings_count_1").innerText = document.getElementById("warnings").children.length;
                document.getElementById("warnings_count_2").innerText = document.getElementById("warnings").children.length;
            }

            var color_code_knob = document.createElement('div');
            color_code_knob.setAttribute("class", "col-lg-6");
            color_code_knob.innerHTML = '\
                        <div class="col-md-3 col-sm-3 col-xs-5 knob-div">\
                            <div class="knob-title">' + title + '</div>\
                            <input class="knob" data-angleoffset="-125" data-anglearc="250" displayMax=true data-fgcolor="' + color + '" data-width="80%" readonly value="' + value + '" data-max="' + max_value + '">\
                        </div>';
            document.getElementById("color_code_knobs").appendChild(color_code_knob);
            $(".knob").knob({
        draw: function() {
            // "tron" case
            if (this.$.data('skin') == 'tron') {

                this.cursorExt = 0.3;

                var a = this.arc(this.cv) // Arc
                    ,
                    pa // Previous arc
                    , r = 1;

                this.g.lineWidth = this.lineWidth;

                if (this.o.displayPrevious) {
                    pa = this.arc(this.v);
                    this.g.beginPath();
                    this.g.strokeStyle = this.pColor;
                    this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, pa.s, pa.e, pa.d);
                    this.g.stroke();
                }
                this.g.beginPath();
                this.g.strokeStyle = r ? this.o.fgColor : this.fgColor;
                this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, a.s, a.e, a.d);
                this.g.stroke();

                this.g.lineWidth = 2;
                this.g.beginPath();
                this.g.strokeStyle = this.o.fgColor;
                this.g.arc(this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
                this.g.stroke();

                return false;
            }
        }
    });
        }

        var myConfig = {
        type: 'line',
        backgroundColor: '#2C2C39',
        title: {
            // text: sensor_data[0][1],
            adjustLayout: true,
            fontColor: "#E3E3E5",
            marginTop: 7
        },
        legend: {
            align: 'center',
            verticalAlign: 'top',
            backgroundColor: 'none',
            borderWidth: 0,
            item: {
            fontColor: '#E3E3E5',
            cursor: 'hand'
            },
            marker: {
            type: 'circle',
            borderWidth: 0,
            cursor: 'hand'
            }
        },
        plotarea: {
            margin: 'dynamic 70'
        },
        plot: {
            aspect: 'spline',
            lineWidth: 2,
            marker: {
                borderWidth: 0,
                size: 3
            }
        },
        scaleX: {
            lineColor: '#E3E3E5',
            zooming: true,
            zoomTo: [0, 100],
            minValue: sensor_data[1][sensor_data[1].length - 1],
            // maxValue: sensor_data[1][0],
            step: step + 'second',
            // step: sensor_data[1][1] - sensor_data[1][0],
            item: {
                fontColor: '#E3E3E5'
            },
            transform: {
                type: 'date',
                all: '%D %M %d<br>%h:%i:%s'
            }
        },
        scaleY: {
            minorTicks: 1,
            lineColor: '#E3E3E5',
            tick: {
                lineColor: '#E3E3E5'
            },
            minorTick: {
                lineColor: '#E3E3E5'
            },
            minorGuide: {
                visible: true,
                lineWidth: 1,
                lineColor: '#E3E3E5',
                alpha: 0.7,
                lineStyle: 'dashed'
            },
            guide: {
                lineStyle: 'dashed'
            },
            item: {
            fontColor: '#E3E3E5'
            }
        },
        tooltip: {
            borderWidth: 0,
            borderRadius: 3
        },
        preview: {
            adjustLayout: true,
            borderColor: '#E3E3E5',
            mask: {
                backgroundColor: '#E3E3E5'
            }
        },
        crosshairX: {
            plotLabel: {
            multiple: true,
            borderRadius: 3
            },
            scaleLabel: {
            backgroundColor: '#53535e',
            borderRadius: 3
            },
            marker: {
            size: 7,
            alpha: 0.5
            }
        },
        crosshairY: {
            lineColor: '#E3E3E5',
            type: 'multiple',
            scaleLabel: {
            decimals: 2,
            borderRadius: 3,
            offsetX: -5,
            fontColor: "#2C2C39",
            bold: true
            }
        },
        shapes: [{
            type: 'rectangle',
            id: 'view_all',
            height: '20px',
            width: '75px',
            borderColor: '#E3E3E5',
            borderWidth: 1,
            borderRadius: 3,
            x: '85%',
            y: '11%',
            backgroundColor: '#53535e',
            cursor: 'hand',
            label: {
            text: 'View All',
            fontColor: '#E3E3E5',
            fontSize: 12,
            bold: true
            }
        }],
        series: [{
            text: "Last 2 weeks",
            values: sensor_data[2],
            lineColor: '#31A59A',
            marker: {
            backgroundColor: '#31A59A'
            }
        }]
        };

        zingchart.bind('myChart', 'shape_click', function(p) {
        if (p.shapeid == "view_all") {
            zingchart.exec(p.id, 'viewall');
        }
        })

        g = document.createElement('div');
        g.setAttribute("class", "col-lg-6");
        g.innerHTML = '\
                    <div class="panel panel-info">\
                        <div class="panel-heading">\
                            <h4 class="panel-title">\
                                <i class="livicon" data-name="barchart" data-size="18" data-c="#fff" data-hc="#fff" data-loop="true"></i>'+ sensor_data[0][1] +'\
                            </h4>\
                        </div>\
                        <div class="panel-body">\
                            <div id="myChart' + i  + '"\
                                \
                            </div>\
                        </div>\
                    </div>';
        // g.setAttribute("id", "myChart" + i);
        // g.innerHTML = '<a class="zc-ref" href="https://www.zingchart.com">Powered by ZingChart</a>'
        if (document.getElementById("myChart").children.length == 0 || document.getElementById("myChart").lastChild.children.length == 2) {
            row = document.createElement('div');
            row.setAttribute("class", "row");
            row.appendChild(g);

            document.getElementById("myChart").appendChild(row);
        } else
            document.getElementById("myChart").lastChild.appendChild(g);

        zingchart.render({
        id: "myChart" + i,
        data: myConfig,
        });
    }

    
  </script>
</body>

</html>